header {
  background-color: #0A2640;
  color: white;
  min-height: 100vh;
  background-image: url(/public/bg.png);
  background-repeat: no-repeat;
  background-position-x: 800px;
  background-position-y: -100px;
  background-attachment: local;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo__symbol {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.logo__symbol > div {
  background-color: var(--green-clr);
}

.logo__symbol > div:last-child {
  height: 17px;
  width: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo__symbol > div:first-child {
  height: 10px;
  width: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo__title {
  font-weight: 600;
  font-size: 2.1rem;
}


.nav__items {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 1.8rem;
    align-items: center;


}


.nav__left {
    display: flex;
    align-items: center;
    transition: all 2s ease;
}

.open__menu {
  display: none;
}

.close__menu {
    display: none;
    cursor: pointer;
}

.nav__item {
    transition: var(--transition);
    color: white;
}

.nav__item:hover {
    color: var(--green-clr);
}

.nav__btn {
    color: var(--light-blue);
    background-color: white;
    padding: .5rem 2rem;
    font-size: 1rem;
    transition: var(--transition);
}


.nav__btn:hover {
    background-color: var(--light-blue);
    color: white;
    box-shadow: 0 10px 20px var(--light-blue);
}


/* MEDIA QUERIES */


/* /* /* 2xl */
/* @media ( max-width: 1536px) {

  
} */


/* xl */
@media ( max-width: 1280px) {
  
    header {
        background-position-x: 600px;
    }

}



/* lg*/
@media ( max-width: 1024px) {

    header {
      background-position-x: 400px;
    }
    .nav__items {
        flex-direction: column;
        position: absolute;
        right: -250px;
        top: 3rem;
        width: 250px;
        height: 80vh;
        background-color: rgb(30, 30, 43);
        gap: 0rem;
        transition: all 800ms ease;
    }

    .nav__item {
      width: 250px;
      display: grid;
      place-content: center;
      border-bottom: 1px solid var(--light-blue);
      padding: 1rem 0;
    }

/* 
   ul > li:nth-child(1) {
    background-color: blue;
   }

   ul > li:nth-child(2) {
    background-color: rgb(164, 164, 175);
   }

   ul > li:nth-child(3) {
    background-color: blue;
    animation-delay: 1s;
   } */


/* 
    .animate {
      animation: animateNav 800ms ease 200ms forwards;
    } */

    .nav__btn {
      padding: .5rem 3rem;
    }


    @keyframes animateNav {
      0% {
        transform: rotate(45deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }

   

    .open__menu {
        display: block;
        font-size: var(--size-2xl);
        font-weight: 600;
        cursor: pointer;
    }


}

/* md */
@media ( max-width: 768px) {
  header {
    background-image: none;
}
}



/* sm */
@media ( max-width: 640px) {
      .logo {
        font-size: 1.8rem;
      }

      header {
        background-position-x: 200px;
    }
}


/* xs */

@media ( max-width: 475px) {
   
  header {
    background-position-x: 150px;
}
} 


